<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/project.css" />
    <link rel="icon" href="../assets/Icons/favwhite.ico">
    <title>Project Page</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="back-icon">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <a class="back-link" href="../index.html">back</a>
      </div>

      <div class="navbar-container">
        <div class="nav-link-icon">
          <div class="nav-link">
            <a class="nav-anchor" href="/index.html">TobiObaremo</a>
            <a class="nav-anchor" href="../views/project.html">Project</a>
            <a class="nav-anchor" href="../views/experience.html">Experience</a>
          </div>

          <div class="icons">
            <a href="https://www.behance.net/tobiobaremo" target="_blank">
              <img class="svgs" src="../assets/Icons/figma.svg" alt="figma" />
            </a>
            <a href="https://github.com/olaoluwa-007" target="_blank">
              <img class="svgs" src="../assets/Icons/github.svg" alt="github" />
            </a>
            <a href="https://www.linkedin.com/in/tobi-obaremo-383ba5278" target="_blank">
              <img class="svgs" src="../assets/Icons/linkedin.svg" alt="linkedin" />
            </a>
            <a href="mailto:obaremooluwatobiloba@gmail.com" target="_blank">
              <img class="svgs" src="../assets/Icons/mail.svg" alt="mail" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Section  -->
    <section class="project-container">
        <div class="project-box">
          <div class="project">
            <div class="project-description">
              <h4 class="project-name">Renewable Solutions Website</h4>
              <h5 class="tools">React.js, Tailwind CSS</h5>
              <a href="https://github.com/olaoluwa-007/solarsolution" target="_blank" class="repository">
                Github Repository 
              </a>
            </div>
  
            <div class="project-link">
              <a href="https://renewablesolutions.vercel.app" target="_blank" class="view-project">View Project</a>
            </div>
          </div>
        </div>

        <div class="project-box">
          <div class="project">
            <div class="project-description">
              <h4 class="project-name">Budget Tracker App</h4>
              <h5 class="tools">HTML, CSS, JavaScript</h5>
              <a href="https://github.com/olaoluwa-007/budget_tracker" target="_blank" class="repository">
                Github Repository 
              </a>
            </div>
  
            <div class="project-link">
              <a href="https://olaoluwa-007.github.io/budget_tracker/" target="_blank" class="view-project">View Project</a>
            </div>
          </div>
        </div>

        <div class="project-box">
          <div class="project">
            <div class="project-description">
              <h4 class="project-name">Portfolio Project</h4>
              <h5 class="tools">HTML, CSS</h5>
              <a href="https://github.com/olaoluwa-007/portfolio" target="_blank" class="repository">
                Github Repository
              </a>
            </div>
  
            <div class="project-link">
              <a href="https://tobiobaremo-portfolio.vercel.app" target="_blank" class="view-project">View Project</a>
            </div>
          </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer>
        <div class="footer-container">
          <div class="footer-text-svg">
            <div class="footer">
              <span class="footer-text">Follow me</span>
            </div>
  
            <div class="footer-svg">
              <a href="https://github.com/olaoluwa-007" target="_blank">
                <img src="../assets/Icons/github.svg" alt="github" />
              </a>
              <a href="https://www.linkedin.com/in/tobi-obaremo-383ba5278" target="_blank">
                <img src="../assets/Icons/linkedin.svg" alt="linkedin" />
              </a>
              <a href="mailto:obaremooluwatobiloba@gmail.com" target="_blank">
                <img src="../assets/Icons/mail.svg" alt="mail" />
              </a>
            </div>
          </div> 
        </div>
      <div class="copyright">tobiobaremo &copy; 2024 </div>
    </footer> 
</body>
</html>    
